.idea
*.iml
*.class
target
*/target
*.DS_Store
.classpath
*/.classpath
.project
*/.project
.settings
*.orig
*/.settings
ebay.log
*/cobertura.ser
*/bin
*dependency-reduced-pom.xml
*generated*
*__Test*
*/*.xls
hermes_env/
hermes_env/*
#eclipse
target
build
.settings
**/.settings
.classpath
**/.classpath
.project
**/.project
.springBeans
bin/
